<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>控制台页面</title>


    <link rel="stylesheet" href="css/style.default.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="ztree/css/zTreeStyle.css"/>
    <script type="text/javascript" src="js/plugins/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="ztree/js/jquery.ztree.core.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
    <script type="text/javascript" src="js/MyPage.js"></script>
    <link rel="stylesheet" type="text/css" href="css/page.css"/>


    <!--[if lte IE 8]>
    <script language="javascript" type="text/javascript" src="js/plugins/excanvas.min.js"></script><![endif]-->
    <!--[if IE 9]>
    <link rel="stylesheet" media="screen" href="css/style.ie9.css"/>
    <![endif]-->
    <!--[if IE 8]>
    <link rel="stylesheet" media="screen" href="css/style.ie8.css"/>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="js/plugins/css3-mediaqueries.js"></script>
    <![endif]-->
</head>
<body>
<div id="contentwrapper" class="contentwrapper">
    <input type="hidden" id="siteid" th:value="${siteid}" />

    <div class="three_fourth last dashboard_right" id="datalist">

        <div style="margin-bottom: 5px">
            <span id="siteSelec" style="float: right">
                <label>站点</label>
                <span class="field" >
                <select  id="siteSelect" style="width:400px;padding: 8px;">
                </select>
                </span>
            </span>

        </div>
        <table cellpadding="0" cellspacing="0" border="0" class="stdtable" id="dyntable2">
            <colgroup>
                <col class="con0"/>
                <col class="con1"/>
                <col class="con0"/>
                <col class="con1"/>
                <col class="con0"/>
                <col class="con1"/>
                <col class="con0"/>
                <col class="con1"/>
                <col class="con0"/>
                <col class="con1"/>
                <col class="con0"/>
                <col class="con1"/>
                <col class="con0"/>
                <col class="con1"/>
                <col class="con0"/>
                <col class="con1"/>
                <col class="con0"/>
            </colgroup>
            <thead>
            <tr>
                <th class="head0"style="width: 10%">ID</th>
                <th class="head1"style="width: 15%">单位名称</th>
                <th class="head0"style="width: 25%">通信地址</th>
                <th class="head1"style="width: 25%">组织机构代码</th>
                <th class="head0"style="width: 25%">营业执照注册号</th>
                <th class="head1"style="width: 15%">法人代表</th>
                <th class="head0"style="width: 25%">法人身份证号码</th>
                <th class="head1"style="width: 15%">联系人</th>
                <th class="head0"style="width: 15%">联系人电话</th>
                <th class="head1"style="width: 15%">联系人手机</th>
                <th class="head1"style="width: 20%">联系人邮箱</th>
                <th class="head0"style="width: 10%">文件名称</th>
                <th class="head1"style="width: 10%">文号</th>
                <th class="head0"style="width: 10%">或者其他特征描述</th>
                <th class="head1"style="width: 25%">提供政府信息的指定方式</th>
                <th class="head0"style="width: 25%">获取政府信息的方式</th>
                <th class="head1"style="width: 25%">渠道</th>
                <th class="head0"style="width: 20%">状态</th>
                <th class="head0"style="width: 40%">管理操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="list:${pageList}">
                <td th:text="${list.id}"></td>
                <td th:text="${list.name}"></td>
                <td th:text="${list.address}"></td>
                <td th:text="${list.code}"></td>
                <td th:text="${list.businessLicens}"></td>
                <td th:text="${list.legalPerson}"></td>
                <td th:text="${list.personCard}"></td>
                <td th:text="${list.contacts}"></td>
                <td th:text="${list.contactsTelephone}"></td>
                <td th:text="${list.contactsPhone}"></td>
                <td th:text="${list.contactsMail}"></td>
                <td th:text="${list.fileName}"></td>
                <td th:text="${list.fileNumber}"></td>
                <td th:text="${list.description}"></td>
                <td th:text="${list.postWay}"></td>
                <td th:text="${list.getWay}"></td>
                <td th:text="${list.type}"></td>
                <td th:text="${list.status}"></td>


                <td>
                    <button class="stdbtn btn_black" th:onclick="'javascript:edit_ysqgk(\''+${list.id}+'\')'">通过</button>
                    <button class="stdbtn btn_black" th:onclick="'javascript:refuse_ysqgk(\''+${list.id}+'\')'">拒绝</button>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="pages">
            <span th:text="'显示'+${page.pageSize}+'条'"></span>
            <span id="page_total" th:value="${page.total}"
                  th:text="'共有'+${page.total}+'条记录'"></span>
            <span th:value="${page.pages}" th:text="'共有'+${page.pages}+'页'"></span>
            <span class="page" id="Page" style="float: right"></span>
        </div>
        <input type="hidden" id="catid" th:value="${catid}"/>
        <input type="hidden" id="value" th:value="${value}"/>
        <script>
            var total = $("#page_total").attr("value");
            P.initMathod({
                params: {
                    elemId: '#Page',
                    total: this.total
                }, requestFunction: function (pageIndex) {
                    if ($("#value").val() == 1) {
                        $("#value").val(0);
                        return;
                    }
                    window.location.href = "ysqgk?pageNum= pageIndex;
                }
            });
        </script>
    </div><!--one_third last-->


    <div id="activities" class="subcontent" style="display: none;">
        &nbsp;
    </div><!-- #activities -->

</div><!--contentwrapper-->

<br clear="all"/>


<script>

    function edit_ysqgk(id) {
        //window.open("edit_ysqgk?id=" + id );
        window.open("edit_ysqgk?id=" + id ).close()
        location.reload();
    }

    function refuse_ysqgk(id) {
        window.open("refuse_ysqgk?id=" + id ).close();
        location.reload();
    }

</script>
</body>
</html>