<?xml version="1.0" encoding="UTF-8" ?>
 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.eda.dao.SiteMapper">
	<resultMap id="SiteResultMap" type="com.eda.pojo.Site">
		<id column="siteid" property="siteid" />
		<result column="name" property="name" />
		<result column="type" property="type" />
		<result column="domain" property="url" />
		<result column="status" property="status" />
	</resultMap>

	<select id="selectSite" resultMap="SiteResultMap">
		select * from v9_site where type = #{type} AND status = 1
	</select>

	<select id="findSiteById" resultMap="SiteResultMap">
		SELECT * FROM v9_site WHERE siteid = #{siteid}
	</select>
</mapper>