<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>控制台页面</title>

    <link rel="stylesheet" href="css/style.default.css" type="text/css"/>
    <script type="text/javascript" src="js/plugins/jquery-1.7.min.js"></script>

    <!--[if lte IE 8]>
    <script language="javascript" type="text/javascript" src="js/plugins/excanvas.min.js"></script><![endif]-->
    <!--[if IE 9]>
    <link rel="stylesheet" media="screen" href="css/style.ie9.css"/>
    <![endif]-->
    <!--[if IE 8]>
    <link rel="stylesheet" media="screen" href="css/style.ie8.css"/>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="js/plugins/css3-mediaqueries.js"></script>
    <![endif]-->
</head>
<body>

<div class="pageheader">

    <ul class="breadcrumbs">
        <li><a href="">我的面板</a></li>
        <li><a href="">个人信息</a></li>
        <li>我的个人信息</li>
    </ul>
</div>

<div id="contentwrapper" class="contentwrapper">
    <form class="stdform stdform2" method="post" action="">
        <p>
            <label>用户名</label>
            <span class="field" id="username">Admin</span>
        </p>
        <p>
            <label>所属角色</label>
            <span class="field" id="roleid">超级管理员</span>
        </p>
        <p>
            <label></label>
            <span class="field"></span>
        </p>
        <p>
            <label>邮箱</label>
            <span class="field" id="email"></span>
        </p>
    </form>
</div>
<script type="application/javascript">
    $(function () {
        $.ajax({
            url:"me/Authentication",
            dataType:"json",
            type:"get",
            async:false,
            success:function (data) {
                var username = data.name;
                /*for(var i in data.authorities){
                    console.log(data.authorities[i].authority);
                }*/
                $.ajax({
                    url:"searchUserInfo",
                    dataType:"json",
                    type:"post",
                    data:{"username":username},
                    async:false,
                    success:function (data) {
                        $("#username").text(data.username);
                        var roleid = data.roleid;
                        $.ajax({
                            url:"searchRoleById",
                            dataType:"json",
                            type:"post",
                            data:{"roleid":roleid},
                            async:false,
                            success:function (data) {
                                $("#roleid").text(data.rolename);
                            }
                        })
                        $("#email").text(data.email);

                    }
                })
            }
        })
    })
</script>
</body>

</html>