<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>惠来县人民政府门户网站</title>

<link rel="stylesheet" href="css/index.css">
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<!-- 所需要的js文件 -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/unslider.min.js"></script>
<script src="js/index.js"></script>
</head>
<!-- 顶部包括标签切换 -->
<body>
	<div th:replace="page/header::header"></div>
	<!--首页轮播图-->

	<input type="hidden" id="siteid" th:value="${siteid}">
	<div class="section" th:fragment="child_news_page">
		<div class="box" style="text-align: center">
			<h5>请输入您提交投诉举报时系统所反馈的查询编号以及您的姓名。</h5>
			<div class="content">
				<form method="post"
					action="/yjx?siteid=1"
					name="myform" id="myform">
					<table class="table_form" width="100%" cellspacing="0">
						<tbody>
							<tr>
								<td><font color="red">*</font> 请输入公民/法人身份证号码<input type="text" name="info[asfga]" id="asfga"
									size="50" value="" class="input-text"></td>
							</tr>
							<tr>
								<td><font color="red" style="margin-left:115px;">*</font> 申请编码<input type="text" name="info[asgag]" id="asgag"
									size="50" value="" class="input-text"></td>
									
							</tr>
							<tr>
								<td><div class="submit ib" style="margin-left:130px;">
										<input type="submit" name="dosubmit" id="dosubmit"
											value=" 提交 ">
									</div></td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
		</div>
	</div>

	<div th:replace="page/footer::footer"></div>
	<!-- 页面底部 -->
</body>
<script>
	
</script>
</html>
