<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Title</title>

    <link rel="stylesheet" href="css/style.default.css" type="text/css"/>
    <script type="text/javascript" src="js/plugins/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
    <script type="text/javascript" src="js/MyPage.js"></script>
    <link rel="stylesheet" type="text/css" href="css/page.css"/>
</head>
<body>
<script type="text/javascript">
    $(function () {
        common();
    })
    function common() {
        var siteid = $("#siteid").val();
        $.ajax({
            url:"showOpinion",
            dataType:"json",
            type:"post",
            data:{},
            success:function (data) {
                var list = "";
                console.log(data)
                for(var i in data){
                    list+="<tr><td>"+data[i].id+"</td><td>"+data[i].name+"</td><td>"+data[i].email+"</td><td>"+data[i].title+"</td><td>"+data[i].content+"</td><td>"+data[i].inputtime+"</td>" +
                        "<td><button class='stdbtn btn_black' onclick='deleteOpinion("+data[i].id+")'>删除</button>&nbsp;&nbsp;&nbsp;<button class='stdbtn btn_black' onclick='updateOpinion("+data[i].id+")'>采纳</button></td></tr>";
                }
                $("#catLocaltionList").html(list);
            }
        })
    }
    function deleteOpinion(id) {
        $.ajax({
            url:"deleteOpinion?id="+id,
            dataType:"json",
            type:"get",
            success:function (data) {
                if(data=!1){
                    alert("删除失败");
                    return;
                }
                alert("删除成功");
                window.location.reload();
            }
        })
    }

    function updateOpinion(id) {
        $.ajax({
            url:"updateOpinion?id="+id,
            dataType:"json",
            type:"get",
            success:function (data) {
                if(data=!1){
                    alert("采纳失败");
                    return;
                }
                alert("采纳成功");
                var siteid = $("#siteid").val();
                common();
            }
        })
    }


</script>

<div class="pageheader">
    <ul class="breadcrumbs">
        <li><a href="">内容</a></li>
        <li><a href="">投诉意见管理</a></li>
        <li>投诉栏目</li>
    </ul>
</div>
<div id="contentwrapper" class="contentwrapper">
    <table cellpadding="0" cellspacing="0" border="0" class="stdtable" id="dyntable2">
        <thead>
        <tr>
            <th class="head0">ID</th>
            <th class="head1">姓名</th>
            <th class="head1">邮箱</th>
            <th class="head1">标题</th>
            <th class="head1">内容</th>
            <th class="head1">时间</th>
            <th class="head1">操作</th>
        </tr>
        </thead>
        <tbody id="catLocaltionList">

        </tbody>
    </table>
</div>
</body>
</html>
