<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class='container' th:fragment="footer">
    <div class='row'>
        <div id="footer">
            <div class="copyRight">
                <a
                        href="http://121.43.68.40/exposure/jiucuo.html?site_code=4452240001&url=http%3A%2F%2Fwww.huilai.gov.cn%2Fweb%2Findex.action">
                    <img src="img/jiucuo.png"
                         alt="">
                </a> <a
                    href="http://bszs.conac.cn/sitename?method=show&id=591D17DEC1984239E053022819ACDF9E">
                <img src="img/red_error.png"
                     alt="">
            </a>
                <ul>
                    <li>主办：惠来县人民政府办公室&nbsp;&nbsp;&nbsp;&nbsp;承办：惠来县信息中心&nbsp;&nbsp;&nbsp;&nbsp;制作维护：惠来县信息中心&nbsp;&nbsp;&nbsp;&nbsp;电子邮箱：huilaixx@163.com</li>
                    <li>COPYRIGHT&nbsp;2018&nbsp;惠来县人民政府&nbsp;&nbsp;&nbsp;版权所有&nbsp;&nbsp;&nbsp;粤ICP备09124891号&nbsp;&nbsp;&nbsp;<a
                            href="/map"
                            target="__blank">网站地图</a></li>
                    <li>技术支持：广东易达电子科技有限公司&nbsp;4008766628</li>
                    <li>网站标识码 4452240001&nbsp;&nbsp;&nbsp; <a
                            href="https://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44522402000105"
                            style="color: black;"> <img
                            src="img/guohui.png" alt=""
                            style="float: none; vertical-align: middle;">粤公网安备
                        44522402000105号
                    </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>