<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="sketch" th:fragment="walkIn_hl">
    <ul class="sketch_text">
        <li class="title">惠来概况</li>
        <li class="introduction"><span style="font-size: 14px">惠来位于粤东沿海，东连汕头市，西接陆丰市，北邻普宁市，南濒南中国海，是揭阳市重要的沿海县和海上交通门户。境内地势北高南低，属滨海丘陵地形，大南山横贯县境北部。全境地处北回归线以南，属亚热带季风气候，高温湿润，四季如春，日照充足，雨量充沛，年平均气温22℃左右，年平均降雨量1800多毫米。<br/>

								惠来置县于明嘉靖三年（1524年），因县治设于惠来都，故名。城处葵岭东南，故雅称葵阳。置县以来，一直为潮汕政区辖县。1992年后，隶属揭阳市。全县陆地面积1253平方公里，海域面积7689平方公里，海岸线长109.5公里。现辖14个镇、3个农林场，设揭阳（惠来）沿海经济开发试验区。<br/>

								全县现有户籍总人口133万人，旅居国外侨胞和港澳台同胞20多万人。先后获得&ldquo;全国水产品百强县&rdquo;、&ldquo;国家商品粮生产基地县&rdquo;、&ldquo;中国荔枝之乡&rdquo;、&ldquo;中国能源工业大县&rdquo;等荣誉称号。
						</span></li>
       <li class="subMenu"><a th:href="@{/zjhlButton1(siteid=${siteid})}"> <span
                class="" th:text="地理位置"></span> </ a>&nbsp; <a
                th:href="@{/zjhlButton2(siteid=${siteid})}"> <span class="" th:text="惠来历史"></span>
        </ a>&nbsp; <a th:href="@{/zjhlButton(catid=1130,siteid=${siteid})}"> <span
                class="" th:text="基础设施"></span> </ a>&nbsp; <a
                th:href="@{/zjhlButton(catid=1131,siteid=${siteid})}"> <span class=""
                                                                             th:text="农业工业"></span> </ a>
            <a th:href="@{/zjhlButton(catid=1132,siteid=${siteid})}">
                <span class="" th:text="名优特产"></span> </ a> <a
                    th:href="@{/zjhlButton(catid=1133,siteid=${siteid})}"> <span class=""
                                                                                 th:text="法律法规"></span> </ a>&nbsp; <a
                    th:href="@{/zjhlButton(catid=1134,siteid=${siteid})}"> <span class=""
                                                                                 th:text="行政许可"></span> </ a> </li>
    </ul>
    <div class="sketch_img">
        <img src="img/惠来概况.png" alt=""
             style="width: 447px; height: 333px;">
    </div>
</div>
</body>
</html>